@font-face {
    font-family: TT-Norms-Regular;
    src: url(/fonts/TTNorms-Regular.otf);
}

@font-face {
    font-family: TT-Norms-Medium;
    src: url(/fonts/TTNorms-Medium.otf);
}

@font-face {
    font-family: TT-Norms-Light;
    src: url(/fonts/TTNorms-Light.otf);
}

body {
    font-family: TT-Norms-Regular;
}

.vl {
    border-left: 2px solid white;
    height: 25px;
    margin: auto 60px auto 60px;
}

.navbar-nav li {
    margin-left: 30px;
    margin-right: 30px;
}

.navbar {
    background-color: #000000;
}

.nav-link{
    color: #ffffff !important;
    font-family: TT-Norms-Light;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-brand{
    padding-left: 50px;
}

.btn-primary{
    background-color: #0090FF;
    border: none;
}

.item-1{
    background-color: red;
}

.item-2{
    background-color: yellow;
}

.item-3{
    background-color: green;
}

.jumbo-secondary-left{
    border-color: white;
    border-style: solid;
    border-width: 0px 15px 0px 0px;
    /* border-radius: 0px; */
}

.jumbo-secondary-right{
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 0px 15px;;
}

.item-price{
    color: #0090FF;
    font-size: 12px;
}

.item-card{
    background-color: #EFEFEF;
    border: none;
    border-radius: 5px;
    font-family: TT-Norms-Medium;
    width: 250px;
    height: auto;
}

.btn-atc{
    font-family: TT-Norms-Regular;
    background-color: #0090FF;
    border: none;
    border-radius: 20px;
    /* height: 40px; */
    height: auto;
    width: auto;
    color: white;
    padding: 8px 13px;
    font-size: 12px;
}

.item-img{
    height: 170px;
    width: 200px;
    margin: 12px auto;
    object-fit: cover;
}

.item-name{
    height: 60px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.item-card-filler{
    width: 250px;
    height: 0;
}

footer{
    background: black;
    /* color: white; */
    width: 100%;
    padding: 80px 100px;
}

footer, a{
    color: white;
    font-size: 13px;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}